/* 
    Document   : uploader
    Created on : 14-mag-2013, 23.23.57
    Author     : cris
    Description:
        Purpose of the stylesheet follows.
*/

#myDropZone {
    height: 50px;
    background-color: #ff0000;
}

#myDropZone.cssClassToAddToDropZoneOnEnter {
    background-color: #ff5500;
}
