<!DOCTYPE html>
<html>
    <head>
        <base
        <title>{% block title '' %} - My Silex Application</title>

        
        {% block css %}{% endblock %}
        {% block javascripts %}{% endblock %}
        
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
